.product-list {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.product-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
  background: #00000020;
}

.product-container-detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-container-detail-title {
  flex: 2;
}

.product-container-detail-desc {
  flex: 5;
}

.product-container-detail-category {
  flex: 1;
}

.product-container-detail-price {
  flex: 1;
}

.product-container-detail-date-created {
  flex: 3;
}

.product-container-detail-date-last-updated {
  flex: 3;
}

.product-container-detail-id {
  flex: 1;
}

.product-container-detail-view {
  flex: 1;
}

.product-container-detail-edit {
  flex: 1;
}

.product-container-detail-img {
  flex: 1;
  height: 40px;
  width: 100px;
  background-position: center;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
